In [1]:
import pandas as pd
import openpyxl
import json
import ast

In [105]:
# Read the Excel file
book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Extract the 'new_car_detail' column as a Series (assuming all the JSON-like data is in this column)
new_car_detail = book1['new_car_detail']

# Initialize an empty DataFrame to hold the flattened JSON data
df1 = pd.DataFrame()

# Loop through each row in 'new_car_detail'
for index, row in new_car_detail.items():  # Using .items() to iterate over Series
    # Assuming each cell contains JSON-like data (dictionary format)
    
    # If the row is already a dictionary (e.g., if it's loaded correctly), no need to parse it
    if isinstance(row, str):
        # Convert the string to a dictionary (if necessary)
        try:
            row = eval(row)  # Use eval if the data is in dict format but as a string (use json.loads for proper JSON)
        except Exception as e:
            print(f"Skipping row {index} due to error: {e}")
            continue
    
    # Check if 'trendingText' exists and flatten it
    if isinstance(row, dict):
        # Flatten the 'trendingText' dictionary into the main dictionary
        if 'trendingText' in row and isinstance(row['trendingText'], dict):
            row = {**row, **row['trendingText']}
            del row['trendingText']  # Remove the nested 'trendingText' key after flattening
        
        # Convert the flattened dictionary into a DataFrame and concatenate it with the main DataFrame
        df1 = pd.concat([df1, pd.DataFrame([row])], ignore_index=True)

# Display the final DataFrame
df1

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,imgUrl,heading,desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

------------------------------

car_overview_column

In [106]:
import pandas as pd

# Read the Excel file
book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_overview' column into Python objects (list of dicts)
car_overview = book1['new_car_overview'].apply(eval)

# Initialize an empty dictionary to store the unpacked data
data_dict = {}

# Loop through the car_overview to extract keys and values
for index, row in car_overview.items():
    for item in row['top']:
        key = item['key']
        value = item['value']
        
        # Check if key already exists in the dictionary, if not, create a new list
        if key not in data_dict:
            data_dict[key] = []
        
        # Append the value to the respective key's list
        data_dict[key].append(value)


# Create a DataFrame from the dictionary
df = pd.DataFrame(data_dict)

df2 = df.copy()
# Display the DataFrame
df

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018

--------------------------------

In [30]:
import pandas as pd
import ast

# Read the Excel file
book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_feature' column into Python objects (list of dicts)
car_overview = book1['new_car_feature'].apply(ast.literal_eval)

# Initialize an empty dictionary to store the unpacked data
data_dict = {'top_features': [],'Comfort & Convenience':[]}

# Loop through the car_overview to extract keys and values
for index, row in car_overview.items():
    top_features = ""
    for item in row['top']:
        value = item['value']
        top_features += f', {value}'
        
    # Append the value to the respective key's list
    data_dict['top_features'].append(top_features.lstrip(', '))

    Comfort = ""
    for item in row['list']:
        value = item['value']
        Comfort += f', {value}'
        
    # Append the value to the respective key's list
    data_dict['top_features'].append(top_features.lstrip(', '))


# Create a DataFrame from the dictionary
df = pd.DataFrame(data_dict)

# Display the DataFra
df

KeyError: 'list'

In [35]:
import pandas as pd

# Your nested dictionary
car_features = {
    'heading': 'Features',
    'top': [
        {'value': 'Power Steering'},
        {'value': 'Power Windows Front'},
        {'value': 'Air Conditioner'},
        {'value': 'Heater'},
        {'value': 'Adjustable Head Lights'},
        {'value': 'Manually Adjustable Exterior Rear View Mirror'},
        {'value': 'Centeral Locking'},
        {'value': 'Child Safety Locks'}
    ],
    'data': [
        {
            'heading': 'Comfort & Convenience',
            'subHeading': 'Comfort',
            'list': [
                {'value': 'Power Steering'},
                {'value': 'Power Windows Front'},
                {'value': 'Power Windows Rear'},
                {'value': 'Remote Trunk Opener'},
                {'value': 'Remote Fuel Lid Opener'},
                {'value': 'Low Fuel Warning Light'},
                {'value': 'Accessory Power Outlet'},
                {'value': 'Vanity Mirror'},
                {'value': 'Rear Seat Headrest'},
                {'value': 'Cup Holders Front'}
            ]
        },
        {
            'heading': 'Interior',
            'subHeading': 'Interior',
            'list': [
                {'value': 'Air Conditioner'},
                {'value': 'Heater'},
                {'value': 'Digital Odometer'},
                {'value': 'Electronic Multi Tripmeter'},
                {'value': 'Fabric Upholstery'},
                {'value': 'Glove Compartment'},
                {'value': 'Digital Clock'}
            ]
        },
        {
            'heading': 'Exterior',
            'subHeading': 'Exterior',
            'list': [
                {'value': 'Adjustable Head Lights'},
                {'value': 'Manually Adjustable Exterior Rear View Mirror'},
                {'value': 'Wheel Covers'},
                {'value': 'Power Antenna'},
                {'value': 'Chrome Grille'}
            ]
        },
        {
            'heading': 'Safety',
            'subHeading': 'Safety',
            'list': [
                {'value': 'Centeral Locking'},
                {'value': 'Child Safety Locks'},
                {'value': 'Day Night Rear View Mirror'},
                {'value': 'Passenger Side Rear View Mirror'},
                {'value': 'Halogen Headlamps'},
                {'value': 'Rear Seat Belts'},
                {'value': 'Door Ajar Warning'},
                {'value': 'Side Impact Beams'},
                {'value': 'Front Impact Beams'},
                {'value': 'Adjustable Seats'},
                {'value': 'Centrally Mounted Fuel Tank'},
                {'value': 'Engine Immobilizer'},
                {'value': 'Anti Theft Device'}
            ]
        }
    ],
    'commonIcon': 'https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg'
}

# Extracting 'top' features
top_features = [item['value'] for item in car_features['top']]
features = ''
# Extracting 'data' features
data_features = []
for section in car_features['data']:
    for item in section['list']:
        features += f', {item['value']}'
        heading = section['subHeading']
    data_features.append({
            heading : features.lstrip(', ')
        })

# Creating DataFrames
# df_top = pd.DataFrame(top_features, columns=['Top Features'])
df_data = pd.DataFrame(data_features)

# Display the DataFrames
# print("Top Features DataFrame:")
# print(df_top)
# print("\nDetailed Features DataFrame:")
df_data

,Comfort,Interior,Exterior,Safety
0,"Power Steering, Power Windows Front, Power Win...",NaN,NaN,NaN
1,NaN,"Power Steering, Power Windows Front, Power Win...",NaN,NaN
2,NaN,NaN,"Power Steering, Power Windows Front, Power Win...",NaN
3,NaN,NaN,NaN,"Power Steering, Power Windows Front, Power Win..."

------------------------------------------

In [56]:
import pandas as pd

book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_feature' column into Python objects (list of dicts)
car_features = book1['new_car_feature'].apply(ast.literal_eval)

# Extracting 'top' features


# Initialize a dictionary to store all features
data_dict = {}

df_data =pd.DataFrame()

# Extracting 'data' features
for index, row in car_features.items():
    top_features = ', '.join(item['value'] for item in row['top'])
    for section in row['data']:
        features = ''
        for item in section['list']:
             features = ', '.join(item['value'] for item in section['list'])
        data_dict[section['subHeading']] = features
    df_data = pd.concat([df_data, pd.DataFrame([data_dict])], ignore_index=True)
    # Creating DataFrame


# Display the DataFrame
print("Detailed Features DataFrame:")
df_data

Detailed Features DataFrame:

,Comfort,Interior,Exterior,Safety,Entertainment
0,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",NaN
1,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."

---------------------------------------

car_feature_column

In [107]:
import pandas as pd

book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_feature' column into Python objects (list of dicts)
car_features = book1['new_car_feature'].apply(ast.literal_eval)

# Extracting 'top' features


# Initialize a dictionary to store all features
data_dict = {}
# Initialize a dictionary to store all features
df_data =pd.DataFrame()

# Extracting 'data' features
for index, row in car_features.items():
    top_features = ', '.join(item['value'] for item in row['top'])
    data_dict['Top Feature'] = top_features
    for section in row['data']:
        features = ''
        for item in section['list']:
             features = ', '.join(item['value'] for item in section['list'])
        data_dict[section['subHeading']] = features
    
    #df_data = pd.concat([df_data, pd.DataFrame([top_features_dict])], ignore_index=True)
    df_data = pd.concat([df_data, pd.DataFrame([data_dict])], ignore_index=True)

df3 = df_data.copy()
# Display the DataFrame
print("Detailed Features DataFrame:")
df_data

Detailed Features DataFrame:

,Top Feature,Comfort,Interior,Exterior,Safety,Entertainment
0,"Centeral Lockingg, Power Windows Front, Air Co...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",NaN
1,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."

===============================

In [84]:
import pandas as pd

book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_feature' column into Python objects (list of dicts)
car_features = book1['new_car_specs'].apply(ast.literal_eval)

# Extracting 'top' features


# Initialize a dictionary to store all features
data_dict = {}
# Initialize a dictionary to store all features
df_data =pd.DataFrame()

# Extracting 'data' features
for index, row in car_features.items():
    #top_features = ', '.join(item['value'] for item in row['top'])
    #data_dict['Top Feature'] = top_features
    for section in row['data']:
        features = ''
        for item in section['list']:
            features = ', '.join(item['value'] for item in section['list'])
        data_dict[section['subHeading']] = features
    
    #df_data = pd.concat([df_data, pd.DataFrame([top_features_dict])], ignore_index=True)
    df_data = pd.concat([df_data, pd.DataFrame([data_dict])], ignore_index=True)


# Display the DataFrame
print("Detailed Features DataFrame:")
df_data

TypeError: sequence item 5: expected str instance, int found

In [94]:
book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_feature' column into Python objects (list of dicts)
car_specs = book1['new_car_specs'].apply(ast.literal_eval)

data_dict=pd.DataFrame()
top_dict = {}
for index, row in car_specs.items():
    for item in row['top']:
        key = item['key']
        value = item['value']
        
        # Check if key already exists in the dictionary, if not, create a new list
        if key not in top_dict:
            top_dict[key] = []

        # Append the value to the respective key's list
        top_dict[key] = value

        data_dict = pd.concat([data_dict, pd.DataFrame([top_dict])], ignore_index=True)
    for q in row['data']: 
        for section in q['list']:
            key1 = section['key']
            value1 = section['value']
            data_dict[key1] = value1

    #df_data = pd.concat([df_data, pd.DataFrame([top_features_dict])], ignore_index=True)
    df_data = pd.concat([df_data, data_dict], ignore_index=True)

    


# Create a DataFrame from the dictionary
df = pd.DataFrame(data_dict)
df

,Mileage,Engine,Max Power,Torque,Seats,Color,Engine Type,Displacement,Max Torque,No of Cylinder,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size
0,23.1 kmpl,NaN,121.31bhp@6500rpm,NaN,NaN,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
1,23.1 kmpl,998 CC,121.31bhp@6500rpm,NaN,NaN,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
2,23.1 kmpl,998 CC,121.31bhp@6500rpm,NaN,NaN,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
3,23.1 kmpl,998 CC,121.31bhp@6500rpm,90Nm,NaN,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
4,23.1 kmpl,998 CC,121.31bhp@6500rpm,90Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
5,17 kmpl,998 CC,121.31bhp@6500rpm,90Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,NaN,16
6,17 kmpl,1497 CC,121.31bhp@6500rpm,90Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,NaN,16
7,17 kmpl,1497 CC,121.31bhp@6500rpm,90Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,NaN,16
8,17 kmpl,1497 CC,121.31bhp@6500rpm,150Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,NaN,16
9,17 kmpl,1497 CC,121.31bhp@6500rpm,150Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16
10,17 kmpl,1497 CC,121.31bhp@6500rpm,150Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16

In [97]:
import pandas as pd
import ast

# Read the Excel file
book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_specs' column into Python objects (list of dicts)
car_specs = book1['new_car_specs'].apply(ast.literal_eval)

# Initialize an empty DataFrame
df_data = pd.DataFrame()

for index, row in car_specs.items():
    top_dict = {}
    for item in row['top']:
        key = item['key']
        value = item['value']
        
        # Check if key already exists in the dictionary, if not, create a new list
        if key not in top_dict:
            top_dict[key] = []

        # Append the value to the respective key's list
        top_dict[key] = value

    # Convert top_dict to DataFrame and concatenate
    data_dict = pd.DataFrame([top_dict])
    df_data = pd.concat([df_data, data_dict], ignore_index=True)
    
    for q in row['data']: 
        for section in q['list']:
            key1 = section['key']
            value1 = section['value']
            df_data[key1] = value1

# Create a DataFrame from the dictionary
df = pd.DataFrame(df_data)
df

,Mileage,Engine,Max Power,Torque,Seats,Color,Engine Type,Displacement,Max Torque,No of Cylinder,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size
0,23.1 kmpl,998 CC,121.31bhp@6500rpm,90Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
1,17 kmpl,1497 CC,121.31bhp@6500rpm,150Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16

----------------------------------

car_specs_column

In [108]:
import pandas as pd
import ast

# Read the Excel file
book1 = pd.read_excel('C:/Users/User/Desktop/book1.xlsx', engine='openpyxl')

# Evaluating the strings in the 'new_car_specs' column into Python objects (list of dicts)
car_specs = book1['new_car_specs'].apply(ast.literal_eval)

# Initialize an empty DataFrame
df_data = pd.DataFrame()

for index, row in car_specs.items():
    top_dict = {}
    for item in row['top']:
        key = item['key']
        value = item['value']
        
        # Check if key already exists in the dictionary, if not, create a new list
        if key not in top_dict:
            top_dict[key] = []

        # Append the value to the respective key's list
        #top_dict[key].append(value)
        top_dict[key] = value

    # Convert top_dict to DataFrame and concatenate
    data_dict = pd.DataFrame([top_dict])
    df_data = pd.concat([df_data, data_dict], ignore_index=True)
    
    for q in row['data']: 
        for section in q['list']:
            key1 = section['key']
            value1 = section['value']
            df_data[key1] = value1

# Create a DataFrame from the dictionary
df = pd.DataFrame(df_data)
df4 = df.copy()
df

,Mileage,Engine,Max Power,Torque,Seats,Color,Engine Type,Displacement,Max Torque,No of Cylinder,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size
0,23.1 kmpl,998 CC,121.31bhp@6500rpm,90Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
1,17 kmpl,1497 CC,121.31bhp@6500rpm,150Nm,5,White,Ti-VCT Petrol Engine,1497,150Nm@4500rpm,3,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16

In [109]:
df_final = pd.concat([df1, df2, df3, df4], axis=1)
df_final

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,5.3 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless,Radial",4,352-litres,NaN,16
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16